
     <div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                {% for post in posts %}
                    
               
                    <div class="col-md-4 my-2">
                        <div class="card p-2">
                            <h2 class="card-title">

                                <a href="{{post.url }}">{{post.title }}</a>
                            </h2>
                            <p class="lead">Categorie: <em>{{post.category_id }}</em></p>
                            <div class="card-body">
                                <p class="card-text"><{{post.extrait }}</p>
                            </div>
                        </div>
                    </div>
                 {% endfor %}
            </div>
        </div>
        <div class="col-md-4">
            <h2 class="text-dark">Les Categories</h2>
            <ul>
                  {% for category in categories %}
                    <li><a href="{{category.url }}">{{category.title }}</a></li>
                 {% endfor %}
            </ul>
        </div>
    </div>
</div>

